.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.App table tr td {
  padding: 20px;
  border: 2px solid black;
  font-size: 50px;
  cursor: pointer;
  background-color: rgb(240, 240, 240);
  width: 70px;
  height: 70px;
  text-align: center;
}

.App button {
  font-size: 30px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.App table {
  border-collapse: collapse;
}
